@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: linear-gradient(145deg, #333333, #2b2b2b);
  --big-shadow: 5px 5px 11px #262626, -5px -5px 11px #3a3a3a;
  --medium-shadow: inset 5px 5px 10px #191919, inset -5px -5px 10px #474747;
  --small-shadow: inset 4px 4px 9px #191919, inset -4px -4px 9px #474747;
  --width: 280px;
  --height: 280px;
  --value-size: 5rem;
  --unit-size: 2rem;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Nunito;
  user-select: none;
  background: var(--bg-color);
}

.forecast {
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: auto !important;
  background: transparent;
  display: grid;
  place-items: center;
  padding: 0 20px !important;
}

.header {
  position: relative;
}

.header-head {
  color: white;
  letter-spacing: 3.3px;
  text-shadow: 2px 1px 0 #000, 2px 2px 2px rgba(206, 89, 55, 0);
  font-weight: 700;
  font-size: clamp(4vw, 3vw, 4vw);
}

.header-span {
  position: absolute;
  bottom: 0;
  color: #ffffff17;
  width: 100%;
}

.header-span > p {
  position: absolute;
  text-align: center;
}

.forecast__main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0px 0px;
  /* grid-template-areas: "temp wind" "hpa aqi"; */
  width: 100%;
  height: 70%;
  gap: 16px;
}

.forecast__main > div {
  border: 1px solid rgba(255, 255, 255, 0.082);

  padding: 10px !important;
}

.forecast__main > div:nth-child(1) {
  flex-flow: column;
  border-radius: 16px;
  flex-shrink: 0;
  background: var(--bg-color);
  box-shadow: var(--big-shadow);
}

.forecast__main > div:nth-child(2) {
  border-radius: 16px;
  flex-shrink: 0;
  background: var(--bg-color);
  box-shadow: var(--big-shadow);
}
.forecast__main > div:nth-child(3) {
  border-radius: 16px;
  flex-shrink: 0;
  background: var(--bg-color);
  box-shadow: var(--big-shadow);
}

.forecast__main > div:nth-child(4) {
  flex-flow: column;
  border-radius: 16px;
  flex-shrink: 0;
  background: var(--bg-color);
  box-shadow: var(--big-shadow);
}

.forecast__main--temperature {
  display: flex;
  flex-flow: row nowrap;
}

.forecast__main--temperature-left {
  flex: 1;
  display: grid;
  place-items: center;
}

.forecast__main--temperature-right {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px !important;
}

.forecast__main--temperature-right > div {
  flex: 1;
}

.temperatures {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 20px 0 !important;
  gap: 8px;
}

.temp-indicator {
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: inset 5px 5px 10px #191919, inset -5px -5px 10px #474747;
}

.temperatures__lowest {
  display: flex;
  flex-flow: row;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.082);
  background: rgba(255, 255, 255, 0.021);
}

.temperatures__lowest > h4:nth-child(1) {
  flex: 1;
}

.temperatures__lowest > h4:nth-child(1),
.temperatures__lowest > h4:nth-child(2) {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 8px !important;
}

.temperatures__highest {
  color: white;
  font-weight: 600;
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid rgba(255, 255, 255, 0.082);
  padding: 8px !important;
  background: rgba(255, 255, 255, 0.021);
}

.temperatures__highest > h4:nth-child(1) {
  flex: 1;
}

.nearest-station {
  font-size: 10px;
  letter-spacing: 0.6px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  color: #ffffff3d;
}

.station-city {
  font-style: italic;
  font-weight: 500;
}

.station-desc {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.station-desc > h4:nth-child(2) {
  color: white;
  font-style: italic;
  font-size: 1.3rem;
}

.actual-temp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--value-size);
  color: white;
  font-weight: bold;
}

.actual-clouds {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/* Pressure */

.forecast__main--pressure {
  display: grid;
  place-items: center;
}

.forecast__main--pressure .pressure-indicator {
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: var(--medium-shadow);
  position: relative;
}

.forecast__main--pressure .actual-pressure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--value-size);
  color: white;
  font-weight: bold;
}

.press-unit {
  font-size: 1.3rem;
  color: #ffffff29;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.wind-unit {
  font-size: 1.3rem;
  color: #ffffff29;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

/* Wind */

.forecast__main--wind {
  display: grid;
  place-items: center;
}

.forecast__main--wind .wind-indicator {
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: var(--medium-shadow);
}

.forecast__main--wind .actual-wind {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--value-size);
  color: white;
  font-weight: bold;
}

.forecast__main--wind .actual-wind .wind-unit {
  font-size: 1.3rem;
}

/* Air Quality */

.forecast__main--airq-left,
.forecast__main--airq-right {
  flex: 1;
}

.forecast__main--airq-left {
  display: grid;
  place-items: center;
}

.forecast__main--airq-right > div {
  flex: 0;
  padding: 8px !important;
}

.forecast__main--airq-right {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px !important;
  justify-content: center;
}

.forecast__main--airq {
  display: flex;
  flex-flow: row nowrap;
}

.airq-indicator {
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: var(--medium-shadow);
}

.actual-airq {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--value-size);
  color: white;
  font-weight: bold;
}

.airq-unit {
  font-size: 1.3rem;
  color: #ffffff29;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.airq-pm10 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.airq-so2 {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.so2-indicator {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: var(--small-shadow);
}

.pm10-indicator {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: var(--small-shadow);
}

.pm10-indicator-lead,
.pm25-indicator-lead,
.so2-indicator-lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--value-size);
  color: white;
  font-weight: bold;
  font-size: 0.65rem;
  text-transform: uppercase;
}

.pm25-indicator {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
  background: var(--bg-color);
  box-shadow: var(--small-shadow);
}

.airq-pm10 > div {
  flex: 1;
}

.airq-so2 > div {
  flex: 1;
}

.pm-unit {
  font-size: 0.4rem;
}

.airq-pm10,
.airq-pm25,
.airq-so2 {
  align-items: center;
}

.pm10-actual,
.pm25-actual,
.so2-actual {
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.pm10-norm,
.pm25-norm,
.so2-norm {
  color: #ffffff78;
  font-weight: 500;
  text-indent: 20px;
  text-align: end;
  margin-right: 5px !important;
}

.airq-pm25 {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.airq-pm25 > div {
  flex: 1;
}

.airq-desc {
  display: inherit;
  align-items: center;
}

.airq-desc > p:nth-child(1) {
  color: white;
  font-style: italic;
  font-weight: 500;
  font-family: Montserrat;
}
